
body {
  margin-left: 2em;
  padding: 1em;
}


.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
}

.rowName {
  /* This centers the text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.829);
}

.grey {
  background-color: grey;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.green {
  background-color: #41B3A3;
}